<!DOCTYPE html>

<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/204.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav>
			<a href="/">Home</a>
			<a href="/sources/">Sources</a>
			<a href="/group/">Members</a>
		</nav>
		<h1>AI Biases in Hiring</h1>
	</header>

	<main>{{ content }}</main>
	<footer>
		<p><a href="https://github.com/Tofutush/inst/">Github repo</a></p>
	</footer>
</body>