@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--off-black: #332e35;
	--off-white: #faf3e5;
	--purple-light: #d9bfe0;
	--purple-dark: #521563;
}

html {
	color: var(--off-black);
	background-color: var(--off-white);
	font-family: 'Atkinson Hyperlegible';
	font-size: 22px;
}

body {
	margin: 0;
}

header {
	padding: 1em;
	background-color: var(--off-black);
	color: var(--off-white);
	font-size: 120%;

	a,
	a:visited {
		color: var(--purple-light);
		text-decoration: none;
	}
}

nav {
	display: flex;
	gap: 1em;
}

footer {
	background-color: var(--off-black);
	padding: 1em;

	a,
	a:visited {
		color: var(--purple-light);
	}
}

main {
	padding: 1em;
	max-width: 960px;
	margin: auto;
	line-height: 2;
}

a,
a:visited {
	color: var(--purple-dark);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

details {
	margin: 1em 0;
	border: 2px solid var(--off-black);
	padding: 1em;
}

summary {
	cursor: pointer;

	& h2 {
		display: inline;
	}
}